.mentor
  margin-bottom: 40px
.job
  margin-bottom: 20px
.reviewContainer
  align-self: center
  background-color: rgba(255, 255, 255, 0.9)
  width: 80vw
  border-radius: 5px
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
  overflow: scroll
  margin-top: 15px
  margin-bottom: 15px
  padding-left: 30px
  padding-top: 20px
  height: 300px
.businessContainer
  margin-top: 50px
  align-self: center
  background-color: rgba(255, 255, 255, 0.9)
  width: 80vw
  border-radius: 5px
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
  overflow: scroll
  .infoSection
    padding: 20px
  .reviewContent
    padding: 20px
    width: 100%
    display: flex
    justify-content: space-around

    .rating
      margin-top: 30px
      width: 20%

    .scoreBars
      margin-top: 30px
      width: 40%

    .yourStats
      text-align: center
      width: 20%
      .question
        align-self:center
        margin-top: 70px

  .jobOpenings
    padding: 20px

  .heading
    background-color: #ff9800
    color: white
    width: 100%
    height: 50px
    margin-top: 0
    text-indent: 20px
    position: relative
    font-size: 1em
    .addreview
      margin-top: -45px
      .buttons
        float: right
        margin-right: 10px

    .logo
      height: 100%
      margin-left: 10px
      width: 40px
      float: left
      display: flex
      justify-content: flex-start

      img
        height: 40px
        align-self: center
        float: left

    h1
      align-self: center
