.searchBar
  margin-left: auto
  margin-right: auto
  align-self: center
  width: 50vw

  .searchBlock
    input
      width: 89%
      border: none
      height: 48px
      text-indent: 2vw
      font-size: 1.2em
      border-radius: 5px 0 0 5px

    .searchBtn
      border-radius: 0 5px 5px 0
      background-color: white
      border: none
      height: 50px
      width: 10%
      display: inline
      font-size: 1.2em
      cursor: pointer
      transition: 0.5s all

    .searchBtn:hover
      color: #00bcd4
